name: kitahack_2026
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  google_fonts: ^8.0.0
  firebase_core: ^4.4.0
  firebase_auth: ^6.1.4
  firebase_ui_auth: ^3.0.1
  google_generative_ai: ^0.4.7
  camera: ^0.11.3+1
  image_picker: ^1.2.1
  flutter_dotenv: ^5.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
